* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.btn {
  padding: 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
}
.card {
  width: 300px;
  border: 2px solid black;
  padding: 5px;
}
.card p {
  margin-top: 15px;
}

.kamar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 800px;
  background-color: blanchedalmond;
  padding: 5px;
  border: 1px solid black;
  margin-top: 20px;
}

th,
td {
  padding: 5px;
}
